ul {
    list-style: none;
}

.imagenDetail {
	inset: 0px;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	object-position: top;
	clip-path: inset(0px 0px 0px 0px);
}

.smallImages {
	display: flex;
	justify-content: center;
}

.carusel {
	border-radius: 4px;
  border: 0ch;
	-webkit-box-shadow: 0 8px 10px -6px #000000;
	-moz-box-shadow: 0 8px 10px -6px #000000;
	box-shadow: 0 8px 10px -6px #000000;
}

.small {
	display: flex;
	margin-right: 30px;
	border-radius: 5px;
	opacity: 60%;
}

.small:hover {
	opacity: 100%;
	height: 60px;
	width: 100px;
}

.description {
	-webkit-user-modify: read-write-plaintext-only;
}

.requeriments {
	-webkit-user-modify: read-write-plaintext-only;
}

.newComment {
	display: flex;
	justify-content: center;
}

.iconsComment {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-left: 20px;
	opacity: 70%;
}

.iconsComment :hover {
	opacity: 160%;
}

.iconitos {
	margin-left: 5px;
	margin-right: 5px;
}

section {
	margin-top: 10px;
}

.formComment{
  padding-left: 16px;
  padding-top: 16px;
}

.redir{
  color: inherit;
  color: darkgray;
  margin-left: 10px;
  text-decoration: none;
}
