.imagenDetail{
    inset: 0px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    Clip-path: inset(0px 0px 0px 0px);
}

.smallImages{
display: flex;
justify-content: center
}

.carusel{
border-radius: 4px;
}

.small{
    display: flex;
    margin-right: 30px;
    border-radius: 5px;
    opacity: 60%;
}

.small:hover {
    opacity: 100%;
    height: 60px;
    width: 100px;
  }