.landing{
    align-content: flex-start;
    align-items: center;
    background-image: url("../../assets/landing\ logo\ elevado.png");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-around;
    overflow: auto;
    width: 100%;
}


.eldiv{
    
    background-image: url("../../assets/fondo.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
    width: 100vw;
    overflow: auto;
    display: flex;
    align-items: center;
    
    
    }


    .foto{
        display: flex;
        width: 80%;
    }


    /* .eldiv{
    
        background-image: url("../../assets/landing\ logo\ elevado.png");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:static;
        width: 100vw;
        
        
        } */

    .btnContainer{
        display: flex;
        place-items: center;
        justify-content: center;
        margin-top: 250px;
        margin-left: 250px;
    }



    .button-recipe3{
        margin-top: 35%;
        appearance: none;
        background-color: rgba(0, 0, 0, 0.7);
        border: 0.2px solid rgb(184, 162, 107);
        border-radius: 20px;
        /* box-shadow: 0 3px 13px 1px rgb(0 0 0 / 50%); */
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        font-size: 17px;
        font-weight: 600;
        line-height: 30px;
        width: 200px;
        padding: 6px 30px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space:unset;
        box-shadow: 0 3px 13px 1px rgba(0, 213, 255, 0.35);
      }
      
      .button-recipe3:focus:not(:focus-visible):not(.focus-visible) {
        box-shadow: none;
        outline: none;
      }
      
      .button-recipe3:hover {
        background-color: rgb(184, 162, 107);
        color:rgba(0, 213, 255, 0.35)
      }
      
      .button-recipe3:focus {
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 3px;
        outline: none;
      }
      
      .button-recipe3:disabled {
        background-color: #94d3a2;
        border-color: rgba(27, 31, 35, .1);
        color: rgba(255, 255, 255, .8);
        cursor: default;
      }
      
      .button-recipe3:active {
        background-color: #000000;
        box-shadow: rgb(0, 0, 0) 50px 0 inset;
      }


      