.imgCard{
    float: top;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.imgCard:hover {
    margin-top: -20px;
    color: rgb(13, 0, 255)
}