.paperBanner {
  position: relative;
}

.nameBanner {
  position: absolute;
  font-size: 3rem;
  color: white;
  left: 15px;
  text-shadow: 0 0 5px;
}

.imagenBanner {
  inset: 0px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  object-position: top;
}
